<ul class="lg:flex font-semibold text-white text-lg gap-8 xl:gap-4">
            
    <li class="p-3">
        <a [routerLink]="['']" class="mr-2">Jobs</a>
    </li>
    <!-- <li class="p-3">
        <a [routerLink]="['resume-match-pro']">LinkMatchPro</a>
    </li> -->
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['']">Settings</a>
    </li>
    <li class="p-3">
        <a [routerLink]="['']">Help Center</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a [routerLink]="['logout']">Logout</a>
    </li>
</ul>
