<div class="flex items-center">

    <!-- menus -->
    <div class="mx-6 ml-10 lg:block md:space-x-6 lg:space-x-8">
        <ul>
                <li
                    class="relative duration-200 after:absolute after:left-1/2 after:-bottom-2.5 after:h-0.5 after:w-4 after:-translate-x-1/2 after:rounded-full after:bg-slate-900 after:opacity-0 after:content-[&quot;&quot;] font-medium text-slate-700 hover:text-slate-900 hover:after:opacity-25"
                >
                    <a [routerLink]="['']">HOME</a>
                </li>
            </ul>
    </div>
    <div class="mx-6 ml-10 lg:block md:space-x-6 lg:space-x-8">
        <ul>
                <li
                    class="relative duration-200 after:absolute after:left-1/2 after:-bottom-2.5 after:h-0.5 after:w-4 after:-translate-x-1/2 after:rounded-full after:bg-slate-900 after:opacity-0 after:content-[&quot;&quot;] font-medium text-slate-700 hover:text-slate-900 hover:after:opacity-25"
                >
                    <a [routerLink]="['problems']">PROBLEMS</a>
                </li>
            </ul>
    </div>
</div>