<div class="prose mx-auto max-w-3xl prose-headings:text-slate-800 prose-h1:text-sky-900 p-5">
    <h2>Two Sum</h2>
    <p class="prose">Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.</p>
    <p class="prose">You may assume that each input would have exactly one solution, and you may not use the same element twice.</p>
    <p class="prose">You can return the answer in any order.</p>
    <p><span class="font-bold text-slate-600">Example 1</span></p>
    <p class="prose"><span class="font-bold text-slate-600">Input:  </span>nums = [2,7,11,15], target = 9</p>
    <p class="prose"><span class="font-bold text-slate-600">Output:  </span>[0,1]</p>
    <p class="prose"><span class="font-bold text-slate-600">Explanation:  </span>Because nums[0] + nums[1] == 9, we return [0, 1].</p>


    <p><span class="font-bold text-slate-600">Example 2</span></p>
    <p class="prose"><span class="font-bold text-slate-600">Input:  </span>nums = [3,2,4], target = 6</p>
    <p class="prose"><span class="font-bold text-slate-600">Output:  </span>[1,2]</p>


    <p><span class="font-bold text-slate-600">Example 3</span></p>
    <p class="prose"><span class="font-bold text-slate-600">Input:  </span>nums = [3,3], target = 6</p>
    <p class="prose"><span class="font-bold text-slate-600">Output:  </span>[0,1]</p>

    <p><span class="font-bold text-slate-600">Constraints:</span></p>
    <ul>  
        <li>2 <= nums.length <= 104</li>
        <li>-109 <= nums[i] <= 109
        </li>
        <li>-109 <= target <= 109</li>
        <li><span class="font-bold text-slate-600">Only one valid answer exists.
        </span></li>
    </ul>
    

    
  </div>