<div class="flex items-center">

<!-- jobs -->
<div class="mx-2 ml-10 lg:block">
    <ul>
    <li
        class="bg-gray-700 hover:bg-gray-600 text-white text-sm font-bold py-2 px-4 rounded-md relative group">
        <a [routerLink]="['']">Home</a>
      
    </li>
    </ul>
    </div>
    <!-- Candidates  -->
    <div class="lg:block">
    <ul>
    <li
        class="bg-gray-700 hover:bg-gray-600 text-white text-sm font-bold py-2 px-4 rounded-md relative group"
    >
        <a [routerLink]="['/problems']">Problems</a>
      
    </li>
    </ul>
    </div>
    <!-- Resume match pro  -->

    <!-- Search people  -->


    <!-- Reports Icon  -->
 
    <!-- Activity Icon  -->
 
</div>