<div class="flex m-2 space-x-2">
    <button type="button"
        class="py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        Run
    </button>

    <button type="button"
        class="py-2.5 px-5 text-sm font-medium text-white bg-green-500 rounded-lg border border-green-500 hover:bg-green-600 hover:text-white focus:outline-none focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 dark:bg-green-700 dark:text-white dark:border-green-700 dark:hover:bg-green-600 dark:hover:text-white" (click)="openModal()">
        Submit
    </button>

    <div class="relative">
        <select name="programmingLanguage" id="programmingLanguage"
            class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-3 pr-8 rounded shadow leading-tight focus:outline-none focus:border-blue-500">
            <option value="" disabled selected>Select language</option>
            <option value="cpp">C++</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="c sharp">C#</option>
            <option value="c">C</option>
            <option value="javascript">JavaScript</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M11.293 14.293a1 1 0 0 1-1.414 0l-3-3a1 1 0 1 1 1.414-1.414L10 11.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-3 3z" />
            </svg>
        </div>
    </div>
</div>

<div class="editor-container w-full mx-auto" #editorContainer></div>

<app-note-submit [showModal]="showModal" (close)="closeModal()"></app-note-submit>